<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments :: nav(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">管理后台</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <div class="m-item right menu m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://picsum.photos/100/100?image=1005">
                            武万浩
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div href="#" class="item">注销</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="ui menu toggle black icon button m-top-right m-mobile-show" href="#">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu m-opacity-large">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
                <a href="#" th:href="@{/admin/blogs}" class="active teal item">列表</a>
            </div>
        </div>

    </div>
    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big m-opacity-large">
        <div class="ui container">
            <!--信息表格-->
            <table class="ui compact table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>标题</th>
                        <th>分类</th>
                        <th>推荐</th>
                        <th>发布</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="blog, iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">标题</td>
                        <td th:text="${blog.type.name}">分类</td>
                        <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                        <td th:text="${blog.published} ? '否' : '是'">是</td>
                        <td th:text="${blog.updateTime}">2015/8/8</td>
                        <td>
                            <a class="ui mini teal button" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}">编辑</a>
                            <a class="ui mini red button" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}">删除</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini right floated pagination menu" th:if="${page.totalPages}>1">
                                <a class="item" th:href="@{/admin/blogs(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                                <a class="item" th:href="@{/admin/blogs(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                            </div>
                            <div class="ui mini right floated pagination menu">
                                <a class="item" th:href="@{/admin/blogs/input}">新增</a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <br><br>


    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.4//semantic.min.js"></script>
    <script>



        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown();




    </script>
</body>
</html>