<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/lib/prism/prism.css">
</head>
<body>
    <!--导航-->
    <nav th:replace="_fragments :: nav(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a class="ui menu toggle black icon button m-top-right m-mobile-show" href="#">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big animated fadeIn">
        <div class="ui container">
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img class="ui avatar image" src="https://picsum.photos/100/100?image=1005">
                        <div class="content"><a class="header" th:href="@{/about}">武万浩</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i> <span th:text="${createTime}"></span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> <span th:text="${views}"></span>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
               <!--图片区域-->
                <img class="ui fluid rounded image" th:src="${firstPicture}" alt="">
            </div>
            <div class="ui attached padded segment">
                <!--内容-->
                <div class="ui right aligned basic segment">
                    <div class="ui label basic orange" th:text="${flag}">原创</div>
                </div>
                <!--文章标题-->
                <h2 class="ui center aligned header" th:text="${title}">走向单体地狱</h2>
                <br>
                <div id="content" class="m-padded-lr-responsive m-padded-tb-large typo typo-selection" th:text="${content}">

                </div>
                <!--赞赏按钮-->
                <div class="ui center aligned basic segment">
                    <button id="payButton" class="ui basic orange circular button">赞赏</button>
                </div>
                <!--赞赏二维码-->
                <div class="ui payQR flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="ui images">
                            <div class="image">
                                <img th:src="@{/images/wpay.png}" class="ui rounded bordered image" style="width: 120px">
                            </div>
                            <div class="image">
                                <img th:src="@{/images/zpay.jpg}" class="ui rounded bordered image" style="width: 120px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached positive message">
                <!--博客信息-->
                <div class="ui middle aligned grid">
                    <!--11宽文字说明部分，上线时加超链接-->
                    <div class="eleven wide column">
                        <ul class="list">
                            <li>作者：武万浩01</li>
                            <li>作者：武万浩02</li>
                            <li>作者：武万浩03</li>
                            <li>作者：武万浩04</li>
                        </ul>
                    </div>
                    <!--5宽-->
                    <div class="five wide column">
                        <img th:src="@{/images/wechat.jpg}" class="ui right floated rounded bordered image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment" id="comment-container">
                <!--留言区域列表-->
                <div class="ui teal segment">
                    <div class="ui comments">
                        <h3 class="ui dividing header">最新评论</h3>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/100/100?image=1005">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/100/100?image=1005">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="https://picsum.photos/100/100?image=1005">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/100/100?image=1005">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--提交表单-->
                <div class="ui form">
                    <div class="field">
                        <textarea name="comtent" placeholder="请输入评论信息..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" placeholder="姓名" name="nickname">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" placeholder="邮箱" name="email">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <button class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布评论</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!--目录生成，留言锚点，平滑滚动等功能先不做！！！！-->
<!--    <div class="ui vertical icon buttons">-->
<!--        <button type="button" class="ui teal button">目录</button>-->
<!--        <a href="#comment-container" class="ui teal button">留言</a>-->
<!--    </div>-->

    <!--底部-->
    <footer th:replace="_fragments :: footer"  class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email：1461282363@qq.com</a>
                        <a href="#" class="item">WeChat/Tel：15127735324</a>
                        <a href="#" class="item">QQ：1461282363</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">About Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，分享关于编程，思考相关的内容，希望可以给来到这里的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 WWH Designed by WWH</p>
        </div>
    </footer>


    <script src="../../static/lib/prism/prism.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.4//semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        //支付码弹出
        $('#payButton').popup({
            popup: ('.payQR.popup'),
            on : 'click',
            position : 'bottom center'
        })
    </script>


</body>
</html>