<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/lib/prism/prism.css">
</head>
<body>
    <!--导航-->
    <nav th:replace="_fragments :: nav(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a class="ui menu toggle black icon button m-top-right m-mobile-show" href="#">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间内容-->
    <div class="m-container-large m-padded-tb-big animated fadeIn">
        <div class="ui container">
            <input type="hidden" id="id" th:value="${blog.id}">
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <i class="large calendar icon"></i> <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2018/8/9</span>
                    </div>
                    <div class="item">
                        <a id="thumbs" ><i class="large thumbs up icon"></i><span>点赞<span th:text="${blog.star}" id="thumbsNum">66</span></span></a>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
               <!--图片区域-->
                <img class="ui fluid rounded image" th:src="@{${blog.firstPicture}}" alt="">
            </div>
            <div class="ui attached padded segment">
                <!--内容-->
                <a th:href="@{/types/{id}(id=${blog.type.id})}">
                    <div class="ui right aligned basic segment" >
                        <div class="ui label basic green" th:text="${blog.type.name}">原创</div>
                    </div>
                </a>

                <!--文章标题-->
                <h2 class="ui center aligned header" th:text="${blog.title}">走向单体地狱</h2>
                <br>
                <div id="content" class="typo typo-selection m-padded-lr-responsive m-padded-tb-large" th:utext="${blog.content}">

                </div>
                <!--赞赏按钮-->
                <div class="ui center aligned basic segment" th:if="${blog.appreciation}">
                    <button id="payButton" class="ui orange button">觉得不错，赞赏一下！</button>
                    <div class="ui payQR flowing popup transition hidden">
                        <div class="ui orange basic label">
                            <div class="ui images">
                                <div class="image">
                                    <img th:src="@{/images/wpay.png}" class="ui rounded bordered image" style="width: 120px">
                                </div>
                                <div class="image">
                                    <img th:src="@{/images/zpay.jpg}" class="ui rounded bordered image" style="width: 120px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--赞赏二维码-->

            </div>
            <div class="ui attached positive message" th:if="${blog.shareStatement}">
                <!--博客信息-->
                <div class="ui middle aligned grid">
                    <!--11宽文字说明部分，上线时加超链接-->
                    <div class="eleven wide column">
                        <ul class="list">
                            <li>作者：<a th:href="@{/about}">武万浩</a></li>
                            <li>发表时间：<span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></span></li>
                            <li>友情链接：<a href="http://www.baidu.com">百度</a></li>
                        </ul>
                    </div>
                    <!--5宽-->
                    <div class="five wide column">
                        <img th:src="@{/images/wechat.jpg}" class="ui right floated rounded bordered image" style="width: 110px">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>

    <!--底部-->
    <footer th:replace="_fragments :: footer"  class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email：1461282363@qq.com</a>
                        <a href="#" class="item">WeChat/Tel：15127735324</a>
                        <a href="#" class="item">QQ：1461282363</a>
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">About Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，分享关于编程，思考相关的内容，希望可以给来到这里的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 WWH Designed by WWH</p>
        </div>
    </footer>


    <script src="../../static/lib/prism/prism.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.4//semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        //支付码弹出
        $('#payButton').popup({
            popup: ('.payQR.popup'),
            on : 'click',
            position : 'bottom center'
        })
        $('#thumbs').click(function () {
            $.ajax({
                async:false,
                url:"/blog/" + document.getElementById('id').value + "/star",
                success: function (res) {
                    console.log(res)
                   document.getElementById('thumbsNum').innerText = res;
                }
            })
        })



    </script>


</body>
</html>