<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a class="ui menu toggle black icon button m-top-right m-mobile-show" href="#">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">分类</h3>
                    </div>
                    <div class="column right aligned">
                        共 <h2 class="ui orange header m-inline-block m-text-thin">14</h2>个
                    </div>
                </div>
            </div>
            <!--分类标签区域-->
            <div class="ui bottom attached segment m-padded-tb-large">
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button">思考与感悟</a>
                    <div class="ui basic teal left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">思考与感悟</a>
                    <div class="ui basic  left pointing label">24篇</div>
                </div>
            </div>
            <!--该分类下内容区域-->
            <div class="ui top attached teal segment">
                <div class="ui segment m-padded-tb-large">
                    <div class="ui vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">走向单体地狱</h3>
                                <p class="m-text">本阶段课程对应千锋 Java 的第三阶段的学习内容，经过本轮学习，我们会掌握 Intellij IDEA、Maven、Bootstrap、Spring、Spring MVC、MyBatis、HttpClient 等工具与框架的使用，并开始引入架构的概念，为“微服务架构”阶段打下坚实的基础。</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img class="ui avatar image" src="https://picsum.photos/100/100?image=1005">
                                                <div class="content"><a class="header" href="#">武万浩</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2017-10-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal label basic m-padded-mini m-text-thin" target="_blank">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://picsum.photos/800/450?image=1005" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment m-padded-tb-large">
                    <div class="ui vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">走向单体地狱</h3>
                                <p class="m-text">本阶段课程对应千锋 Java 的第三阶段的学习内容，经过本轮学习，我们会掌握 Intellij IDEA、Maven、Bootstrap、Spring、Spring MVC、MyBatis、HttpClient 等工具与框架的使用，并开始引入架构的概念，为“微服务架构”阶段打下坚实的基础。</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img class="ui avatar image" src="https://picsum.photos/100/100?image=1005">
                                                <div class="content"><a class="header" href="#">武万浩</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2017-10-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal label basic m-padded-mini m-text-thin" target="_blank">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://picsum.photos/800/450?image=1005" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--上下分页按钮-->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="column right aligned">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <!--底部-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email：1461282363@qq.com</a>
                        <a href="#" class="item">WeChat/Tel：15127735324</a>
                        <a href="#" class="item">QQ：1461282363</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">About Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，分享关于编程，思考相关的内容，希望可以给来到这里的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 WWH Designed by WWH</p>
        </div>
    </footer>


    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.4//semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</body>
</html>